<div class="outer">
<div [formGroup]="form" class="main-container">
  <div class="field">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
  </div>
  <div class="field">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </div>
  <div class="field">
    <button mat-raised-button (click)="login()"><span class="button-content">Login</span></button>
  </div>
  <div class="field">
    <button mat-raised-button (click)="signup()"><span class="button-content">Signup</span></button>
  </div>
</div>
</div>
