.main-container  {
  width: 100%;
  border: solid 2px #BF6A02;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  cursor: grab;
  .edit {
    background-color: #F5F5F5;
    padding: 12px;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    cursor: text;
    .toolbar {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .toolbar-editor-part {
        background-color: white;
        border-radius: 8px;
        width: auto;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-grow: none;
        padding: 6px 10px;
        margin-left: auto;
        .vertical-line {
          border-left: solid 2px;
          height:25px;
          width:0;
          margin-left:5;
          margin-right:5;
        }

        .toolbar-button {
          padding: 0;
          width: 25px;
          height: 25px;
          background-color: transparent;
          border: none;
          img {
            padding: 5px;
            &:hover {
              filter: invert(45%) sepia(85%) saturate(3535%) hue-rotate(21deg) brightness(94%) contrast(98%);
            }
          }
          &:hover {
            color: #BF6A02;
          }
        }
      }
      .toolbar-options-part {
        display:flex;
        flex-direction: row;
        align-self: flex-end;
        margin-left: auto;
        .toolbar-option-button {
          cursor: default;
          margin-left: 12px;
          background-color: white;
          width: 40px;
          height: 40px;
          border-radius: 8px;
          display:flex;
          align-items: center;
          justify-content: center;
          img {
            width: 25px;
            width: 25px;
            &:hover {
              filter: invert(45%) sepia(85%) saturate(3535%) hue-rotate(21deg) brightness(94%) contrast(98%);
            }
          }
        }
      }
    }
    .text {
      height: 100%;
        textarea {
          line-height: 123%;
          font-size: 16px;
          padding: 0;
          flex-grow: 1;
          background-color: transparent;
          border: none;
          width: 100%;
          min-height: 100px;
          resize: none;
          &:focus {
            outline:none;

          }
        }

    }
  }
  .view {
    display: flex;
    flex-direction: row;
    .text {
      flex-grow: 1;
      line-height: 123%;
      font-size: 16px;
    }
    .toolbar {
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
        .toolbar-option-button {
          margin-left: 12px;
          background-color: white;
          width: 40px;
          height: 40px;
          border-radius: 8px;
          display:flex;
          align-items: center;
          justify-content: center;
          img {
            width: 25px;
            width: 25px;
            &:hover {
              filter: invert(45%) sepia(85%) saturate(3535%) hue-rotate(21deg) brightness(94%) contrast(98%);
            }
          }
      }
    }
  }
}
#hidden-content {
    visibility: hidden;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    word-wrap: break-word; /* Handle long words or URLs */
  }

