<div class="flex-row border-2 border-radius bg-white padding-10 dyn-border-color">

  <div *ngIf="mode==='edit'" class="bg-grey padding-10 flex-col flex-grow-1 border-radius" (mousedown)="stopPropagation($event)" (click)="focusText()">
    <div class="height-40 flex-row width-full">

      <div class=""></div>

      <div class="bg-white border-radius flex-row flex-grow-0 auto-margin-left height-40 padding-side-5" (click)="stopPropagation($event)">
        <button (click)="bold()" class="editor-button">B</button>
        <button (click)="italic()" class="editor-button">I</button>
        <div class="vertical-line"></div>
        <button (click)="header()" class="editor-button">H</button>
        <button (click)="bullet()" class="editor-button"><img src="bullet-list-icon.svg"/></button>
        <button (click)="numbered()" class="editor-button"><img src="numbered-list-icon.svg"/></button>
      </div>

      <div class="flex-row auto-margin-left" (click)="stopPropagation($event)">
        <div class="icon-button"><img src="full-screen-icon.svg"/></div>
        <div class="icon-button" (click)="save(); stopPropagation($event)"><img src="done-icon.svg"/></div>
      </div>

    </div>

    <textarea class="growable-textarea" [ngModel]="data.content" (keyup.control.enter)="save()" (input)="textareaKeydown()" #textarea></textarea>
  </div>

  <div *ngIf="mode==='view'" (dblclick)="edit()"  class="flex-row bg-white flex-grow-1 align-start">
    <div class="flex-grow-1 " [innerHTML]="viewValue"> </div>
    <div class="flex-col ">
        <div class="icon-button" (click)="edit()"><img src="edit-icon.svg"/></div>
        <div class="icon-button"><img src="full-screen-icon.svg"/></div>
  </div>

</div>


