.main-container {
  width: 500px;
  height: 300px;
  border: solid 2px
}
.custom-placeholder {
  /* Example styles */
  background-color: black;
  border: 1px dashed #ccc;
  padding: 8px;
  text-align: center;
}
