<div class="outer">
  <div class="main-container">
    <div [formGroup]="form" class="form-container">
      <div class="left">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm">
        </mat-form-field>
      </div>
      <div class="separator">
      </div>
      <div class="right">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="signup()"><span class="button-content">Signup</span></button>
    <button mat-raised-button (click)="login()"><span class="button-content">Login</span></button>
  </div>
</div>
