.button-row {
  height: 48px;
  margin-bottom: 16px;
  button {
    height: 100%;
    border-radius: 8px;
    margin-right: 16px;
    background-color: white;
    border: solid 1px #767676;
    padding: 0;
    .button-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 12px;
      img {
        width: 26px;
        height: 26px;
        font-smooth: never
      }
      span {
        font-size: 16px;
        color: #1E1E1E;
      }
    }
    &:hover {
      border-color: var(--my-color);
      color: var(--my-color);
      .button-content {
        span {
          color: var(--my-color);
        }
      }
    }
  }
}
.main-container {
  background-image: url("../../../../public/bg-sprinkle.svg");
  background-repeat: no-repeat;
  display: flex;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  height: 100vh;
}
.side-column {
  /* padding-top: 64px; */
  flex: 1;
  flex-grow: 1;
  padding-top: calc(25vh + 64px);
  padding-bottom: 10vh;
}
.center-column {
  flex: 2;
  flex-grow: 2;
  padding-top: 25vh;
  padding-bottom: 10vh;
}
.column {
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.column::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.list {
  min-height: 100vh;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  /* padding: 20px 10px; */
  /* border-bottom: solid 1px #ccc; */
  /* color: rgba(0, 0, 0, 0.87); */
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /* background: white; */
  /* font-size: 14px; */

}
.cdk-drag-preview {
  cursor: grab
}

.cdk-drag-preview {
  cursor: move;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
