<div class="main-container" cdkDropListGroup>
  <div class="column side-column">
    <div
      cdkDropList
      [cdkDropListData]="leftCol"
      class="list"
      (cdkDropListDropped)="dropToLeft($event)">
      <app-card-wrapper cdkDrag class="card" *ngFor="let item of leftCol" [members]="members" [data]="item"/>
    </div>
  </div>

  <div class="column center-column">
    <div class="button-row">
      <button (click)="createTextCard()">
        <div class="button-content">
          <img class="plus-icon" src="plus.svg">
          <span>Szöveg</span>
        </div>
      </button>
      <button>
        <div class="button-content">
          <img class="plus-icon" src="plus.svg">
          <span>Naptár</span>
        </div>
      </button>
      <button>
        <div class="button-content">
          <img class="plus-icon" src="plus.svg">
          <span>Kérdőív</span>
        </div>
      </button>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="centerCol"
      class="list"
      (cdkDropListDropped)="dropToCenter($event)"
      [cdkDropListSortingDisabled]="true"
      >

      <app-card-wrapper class="card" cdkDrag *ngFor="let item of centerCol" [members]="members" [data]="item"/>
    </div>
  </div>

  <div class="column column side-column">
    <div
      cdkDropList
      [cdkDropListData]="rightCol"
      class="list"
      (cdkDropListDropped)="dropToRight($event)">
      <app-card-wrapper cdkDrag class="card" *ngFor="let item of rightCol" [members]="members" [data]="item"/>
    </div>
  </div>
</div>
